/* calendar.css */

.fc {
  background-color: #1c1505;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.fc-toolbar-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.fc-button {
  background-color: #2c220f;
  color: white;
  border: none;
}

.fc-button:hover {
  background-color: #3a2e1a;
}

.fc-event {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 4px;
  border: none;
}

.fc-event.approved {
  background-color: #4caf50;
}

.fc-event.pending {
  background-color: #ff9800;
}

.fc-event.cancelled {
  background-color: #f44336;
}

.fc .fc-col-header-cell-cushion {
  color: rgb(0, 164, 185) !important;
  font-weight: 600;
  font-family: "Comfortaa", sans-serif;
}
